.deatil-container {
    background: linear-gradient(to bottom, #FFFFFF 0%, #7C2EE6 95%);
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.child-detail-container{
    height: 100%;
    overflow-y: auto;
    max-width: 44rem;
    width: 90%;
}