.modules-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #f0eefd 0%, #f0eefd 80%);
}

.child-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 90%;
    max-width: 45rem;

    overflow-y: auto;
    height: 90%;
}

.referance {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 100%;
    margin: 1rem 0;
}

.welcome {
    width: fit-content;
    margin: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #2A428C;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.user-name {
    width: fit-content;
    margin: 0;

    /* Ayşe Çetin */

    width: 148px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #93ACFE;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.modules {
    /* overflow-y: auto; */
    /* height: 100%; */
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    /* padding: 0 6px; */
}