.action-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    text-decoration: none;

    background:#6B5EE6;
    color: #FFFFFF;
    border-radius: 16px;
    width: 100%;
    max-width: 45rem;
    height: 40px;

    border-color: transparent;
    margin-bottom: 1rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    font-family: 'Arial Rounded MT Bold', 'Verdana', sans-serif;  
    font-size: 16px; 
} 