.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    /* Bir annenin karnında yeşeren her hayat, dünyanın en büyük mucizesidir. */
 
width: 95%;
height: auto;
left: 40px;
top: 154px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: 0.03em;

color: #2A428C;

background-color: white;
border-radius: 8px;

margin: 0;
margin-bottom: 10px;
}